# Ali Akbar

# CSC-18F-041

# The Print Statement in Python

In [2]:
print ("Ali")

Ali

In [7]:
a = 34
b = 45
c = 22
c = 44

In [9]:
print (a,b,c,c)

34 45 44 44

In [11]:
name = "Ali Akbar"

In [14]:
print (name)

Ali Akbar

In [15]:
Mr_Ali = "Mark"

In [16]:
print (Mr_Ali)

Mark

In [17]:
my_name = "Angelo Mathews"

In [18]:
my_nationality = "Sri Lanka"

In [20]:
print (my_nationality)

Sri Lanka

In [21]:
x = 234.23
x = 4444.22
y = 43
y = 84

In [22]:
print (x,y,x,y)

4444.22 84 4444.22 84

In [25]:
x=[1,2,3,4,5]
print (x[:])

[1, 2, 3, 4, 5]

In [26]:
print (x[:2])

[1, 2]

In [30]:
print (x[1])

2

In [31]:
print(x[5-1])

5

In [33]:
print(x[-4])

2

In [40]:
print(x[0])

1

In [56]:
print(x[4])

5

In [63]:
x = "AKBAR"

In [64]:
print (x)

AKBAR

In [65]:
My_designation = "I am the Ex Director of the FBR"

In [66]:
print (My_designation)

I am the Ex Director of the FBR

# Variable for Strings

In [1]:
Name = "Marsk"

In [2]:
print (Name)

Marsk

In [3]:
Name = "Ali"

In [4]:
print (Name)

Ali

In [19]:
Name = "SMIU"

In [7]:
print (Name)

SMIU

In [16]:
My_Nationality = "Pakistan" #when we put anything between "" comas python take it as variable and we use any name or anything to assign variable with python naming conditions.

In [10]:
print (My_Nationality)

Pakistan

In [17]:
iam_the_boss = "Akbar" #it is not necessary to write name and then assign variable name could be any thing but it must follow the python naming variable conditions.

In [18]:
print (iam_the_boss)

Akbar

# Variable Naming Rules

In [ ]:
#In all of these names python shows erors

In [31]:
23ak = "presents" #Rule 1. we can't use numbers in front for variable naming

SyntaxError: invalid syntax (<ipython-input-31-0e6a498cceed>, line 1)

In [22]:
My name = "Ali" #Rule 2. we can't use any spaces for variable naming.

SyntaxError: invalid syntax (<ipython-input-22-2e61752d5684>, line 1)

In [23]:
My_name = "Ali" #in case for space we can use underscore.

In [24]:
%name = "Akbar" #Rule 3. we can't use any special character like %, @, $, &, *, for variable naming.

UsageError: Line magic function `%name` not found.

In [30]:
for = "Ali Akbar" # we can't use any reserved kew words or function for variable naming.

SyntaxError: invalid syntax (<ipython-input-30-d2e9019560c0>, line 1)

# Variable for Numbers

In [35]:
# Variable are not only used in string they also used for numbers as well but in numbers we do not use "" commas.

In [41]:
weight = 150

In [47]:
weight + 45 # we are adding 45 to it's actual weight.

195

In [48]:
weight - 34

116

In [49]:
original_num = 344
new_num = original_num + 233

In [51]:
new_num

577

In [52]:
weight = 150

In [53]:
weight

150

In [56]:
total_income = 10000
total_cost = 6000
net_income = total_income - total_cost

In [57]:
net_income

4000

In [58]:
Original_num = 578
num_to_be_added = 455
new_num = Original_num + num_to_be_added

In [59]:
new_num

1033

In [2]:
Gross_income = 70000
Quarter = Gross_income / 4

In [3]:
Quarter

17500.0

In [4]:
Net_income = 1099876
Decile = Net_income / 10

In [5]:
Decile

109987.6

In [8]:
Decile = 109987.6
Equal_parts = Decile / 4

In [9]:
Equal_parts

27496.9

In [10]:
74357 /45

1652.3777777777777

In [12]:
323434 * 45 +3434345 -6767675

11221200

# Math Expressions / Familiar Operators

In [17]:
Sum = 3456 + 8987

In [18]:
print (Sum)

12443

In [19]:
Product = 764 * 34

In [20]:
print (Product)

25976

In [21]:
Difference = 778478 - 454573

In [22]:
print (Difference)

323905

In [23]:
Quitient = 34345 / 45474

In [24]:
print (Quitient)

0.7552667458327835

In [27]:
weight = 455

In [28]:
print (weight)

455

In [29]:
Dozens = 3 * 12

In [30]:
print (Dozens)

36

# Variable Naming Dos and Don'ts

# Don'ts

In [31]:
# Rule 1.  You can't enclose it in quotation marks. 
# Rule 2.  You can't have any spaces in it.
# Rule 3.  It can't be a number or begin with a number.
# Rule 4.  a variable can't be any of Python's reserved words

# Dos

In [1]:
# A variable name can contain only lowercase letters, uppercase letters, numbers, and underscores.
# Though a variable name can't be any of Python's keywords, it can contain any of those keywords.
# Capital letters are fine, but be careful. Variable names are case-sensitive.
# A rose with a lowercase r is not a Rose with an uppercase R.
# If you assign the string "Floribundas" to the variable rose 
# and then ask Python for the value assigned to Rose, you'll come up empty
# Python's governing body recommends breaking up multi-word variables with underscores.
# That's what I'll ask you to do with your own variable names.
# It'll make them more readable, and you'll be less likely to get variables mixed up.

# The Unsimilar Operators

In [2]:
# Now we come to know about an other operator is "%" this symbol is known as modulo in puthon.
# it dosen't devides the two numbers but it shows the reminder after the division or what the left after the division it shows.

In [4]:
what_left_over = 10 % 3

In [5]:
10 % 3

1

In [6]:
reminder = 3445 % 453

In [7]:
reminder

274

In [9]:
232 % 65

37

In [10]:
# If one number is devides evenly another the modulo operator assigns 0.

In [11]:
10 % 2

0

In [12]:
9 % 3

0

In [13]:
100 % 50

0

In [14]:
6500 % 65

0

In [15]:
# we can increase the value by adding any number.

In [18]:
age = 10
age + 1

11

In [19]:
age += 30

In [20]:
age

40

In [21]:
age = 19
age += 28

In [22]:
age

47

In [27]:
height = 35
height += 23
height -= 17

In [28]:
height

41

In [32]:
height = 23
height -= 4

In [33]:
height

19

In [34]:
width = 45
width *= 3

In [35]:
width

135

In [36]:
age = 23
amount_to_increment = 12
age += amount_to_increment

In [37]:
age

35

In [38]:
height = 350
amount_to_decrement = 45
height -= amount_to_decrement

In [39]:
height

305

In [40]:
width = 45
amount_to_multiplied = 4
width *= amount_to_multiplied

In [41]:
width

180

In [42]:
Gross_profit = 50000
amount_to_devide = 3
Gross_profit /= amount_to_devide

In [47]:
Gross_profit

16666.666666666668

# Eliminating Ambiguity.

In [48]:
# The ambiguity's rule is same in Python as in Algebra.

In [52]:
23 + 45 -56

12

In [53]:
78 + 34 * 5

248

In [54]:
78 + 45 -88 * 7

-493

In [55]:
233 + 89 - 85 * 12 / 76

308.57894736842104

In [56]:
total_cost = 57685 + 45 -23 *56

In [57]:
total_cost

56442

In [65]:
Gross_Income = 40008 * 234 + 5653 - 8695

In [66]:
Gross_Income

9358830

In [68]:
My_Salary = 100000
My_liablities = 34534 + 7484 - 78475 /45
Buged = My_Salary - My_liablities

In [69]:
Buged

59725.88888888889

In [70]:
Income = 53455543 - 4645 *456 / 4533

In [71]:
Income

53455075.73328921

In [72]:
34 + (453 * 985)

446239

In [75]:
age = 5 + (12 * 13)

In [76]:
age

161

In [77]:
height = 33 - (23 / 12) +12

In [78]:
height

43.08333333333333

In [80]:
result_of_computation = 3 * (34 * 4) + 34 -3

In [81]:
result_of_computation

439

In [88]:
3 + 3 + (34 * 12)

414

# Concatenating Strings

In [1]:
# As we know that concatenating to combine two or more than two together.

In [2]:
Whole_Greeting = "Hello" + "World"

In [4]:
Whole_Greeting # This is called the concatenation but we can also add some more concatenation in this way.

'HelloWorld'

In [5]:
Greetings = "Hello"
Seperator = ","
Addressee = "World"
Punctuation = "!"
Greetings + Seperator + Addressee + Punctuation

'Hello,World!'

In [6]:
Name = "Ali"
Id = "CSC-18F-041"
Father_Name = "Talib Hussain"
Address = "Defense"
City = "Karachi"
Village = "Dadu"

Bio_Data = Name + Id + Father_Name + Address + City + Village

In [7]:
print (Bio_Data)

AliCSC-18F-041Talib HussainDefenseKarachiDadu

In [12]:
Gross_Income = "total"
Net_Income = "profit"
Net_rate = "total," + "profit!"

In [13]:
Net_rate

'total,profit!'

In [11]:
# It will work weather you concatenate the strings or the variable as well.

In [21]:
print ("Hello" + Seperator + "World" + Punctuation)

Hello,World!

In [27]:
print ("The sum of 6 plus 6 is "+ "12")

The sum of 6 plus 6 is 12

In [29]:
print ("The difference of 12 minus 7 is " + "5")

The difference of 12 minus 7 is 5

# If Statement

In [30]:
# The if statement is also known as the if condition it is the single condition which is used to provide a condition.
# It is also known as Conditional Statement like we use in common sentences like if you work hard, you will succeed.

In [44]:
 if 2 + 2 == 4: print("Everything makes sense.")

Everything makes sense.

In [45]:
if 3 + 3 == 6:
    print ("Ali is crazy")

Ali is crazy

In [48]:
score = 100
if score == 100:
    print ("We Won")

We Won

In [59]:
eyes = 2
ear = 2
if eyes == 2 & ear == 2:
    print ("you are a normal")

you are a normal

In [66]:
bus = "station"
if bus == "station":
    print ("stop")

stop

In [67]:
spacies = "cat"
if spacies == "cat":
    print("yes, it's cat")

yes, it's cat

In [75]:
button = "on"
if button == "on":
    print("open the fan")

open the fan

In [76]:
if spacies == "cat":
    status = "ok"
    kingdom = "animal"
    print ("it's a cat")

it's a cat

In [80]:
if 2 + 2 == 4:
    print ("I got corrected")

I got corrected

In [81]:
if 12 * 4 == 48:
    print ("it works")

it works

In [88]:
the_number_of_weapons = "unlimited"
if the_number_of_weapons == "unlimited":
    print ("so far, so good")
    print ("weldone!")
    print ("congratulations!")

so far, so good
weldone!
congratulations!

# Comparision Operators

In [4]:
# Let's talk a little more about ==. It's a type of comparison operator, specifically it's the equality operator.
#  As you learned in the last chapter, you use it to compare two things to see if they're equal.
# we can use an equality operator to compare a string with a number, or variable with an string or number or variable with an variable.
#  All of the following are legal first lines in if statements:

In [9]:

full_name = "Mark"
full_name = "Mayers"
if full_name == "Mark" + " " + "Mayers":
    print ("better luck for next time")

In [5]:
# This is an other comparision operator "!=" which means not equal to and it's the opposite of "=="

In [6]:
Flag = "Pakistan"
Flag = "India"
if Flag != "Pakistan":
    print ("You are not from Pakistan")
    if Flag == "pakistan":
        print ("I am a Pakistani")

You are not from Pakistan

In [10]:
pakistan = 250
if pakistan != 250:
    print ("We lost")

In [11]:
pakistan = 250
if pakistan == 250:
    print ("Pak Wins")

Pak Wins

In [13]:
# lets talk about some more comparision operators
# 1. > Greater than
# 2. < Less than
# 3. => Greater than or equal to
# 4. =< Less than or equal to

In [15]:
x = 10
if x > 0:
    print ("x must be whole number")

x must be whole number

In [21]:
y = 0.34
if y < 1:
    print ("y must be a friction number")

y must be a friction number

In [23]:
1 > 0
if 1 > 0:
    print ("On")

On

In [24]:
9 < 10
if 9 < 10:
    print ("10 is greater than 9")

10 is greater than 9

In [26]:
8 >= 9
if 8 >= 9:
    print ("8 is greater than or equal to 9")

In [27]:
z = 10
if z >= 10:
    print ("Z is greater than or equal to 10")

Z is greater than or equal to 10

In [29]:
p = 100
if p <= 101:
    print ("Wingle Wingle")

Wingle Wingle

# else & elif Statement

In [4]:
Gender = "Female"
Gender = "Male"
if Gender == "Male":
    print ("Male")
else:
    print ("Female")

Male

In [5]:
Species = "Cat"
if Species == "Cat":
    print("Yup, It's a cat")
else:
    print("It's not a cat")

Yup, It's a cat

In [43]:
donut_condition = "old"
donut_price = "low"
if donut_condition == "fresh":
    print ("buy_score = 10")
elif donut_price == "low":
    print ("buy_score = 5")
else:
    print ("buy_score = 0")

buy_score = 5

In [8]:
profit_margion = 100000
loss_margion = 1000
if profit_margion == 100000:
    print ("It's a good day for business")
elif loss_margion == 1000:
    print("It's a bad luck today")
else:
    print ("I am the man of rules")

It's a good day for business

In [14]:
House_price = 60000
if House_price >= 60000:
    print ("House is for sale")
elif House_price < 60000:
    print ("Deal is in loss")
else:
    print ("We can not sale this property")

House is for sale

In [17]:
Usma = 10
Nasir = 8
Waqar = 7
if Usma > Waqar:
    print("Usma has more ballons than Waqar")
elif Nasir >= Usma:
    print("Usma and Nasir both have equal ballons")
else:
    print("Waqar has more ballons than all")

Usma has more ballons than Waqar

In [29]:
chiken = 250
if chiken == "fresh":
    print("chiken is fresh")
    chiken += 30
elif chiken == "cooked":
    chiken += 150
else:
    chiken

In [30]:
chiken

250

# Testing sets of conditions

In [20]:
weight = 300
time = 10
if weight >= 300 and time <= 10:
    print("He can play and made record in Olympic Championship in 2020")

He can play and made record in Olympic Championship in 2020

In [21]:
if weight > 300 and time < 6 and age > 17 and height < 72:
    status = "try to recruit him"

In [69]:
weight = 300
time = 6
if weight > 250 and time < 7:
    print ("try to recruit him")

try to recruit him

In [70]:
age = 17
weight = 65
height = 155
if age >= 17 or weight <= 65 or height != 155:
    print ("You are ready to join PAF")

You are ready to join PAF

In [71]:
Movie_pixel = 1080
Movie_duration = 120
Movie_year = 2019
if Movie_pixel > 1070 and Movie_duration <= 120 and Movie_year == 2019:
    print("This movie will be blackbasterd")

This movie will be blackbasterd

In [73]:
avg = 2.5
GPA = 2.5
parent = "alum"
if avg or GPA > 2.5 or parent == "alum":
    print ("Welcome to Leeds College!")

Welcome to Leeds College!

In [74]:
age = 66
res = "U.K"
if age > 65 or age < 21 and res == "U.K.":
    print ("condition is passed")

condition is passed

In [80]:
age = 67
res = "U.K"
if (age > 65 or age < 21) and res == "U.K.":
    status = "You are either a youn or an old"

# Mathematical Statistics/ Statistics

# Using mean function in numerical python

In [ ]:
# To find the we have the function in numpy means numerical python. so we have used it bellow.

In [4]:
import numpy as np
np.mean([1,4,3,2,6,4,4,3,2,6])

3.5

In [6]:
import numpy as np
np.mean([33,4,56,6,3,7,6,7])

15.25

In [8]:
import numpy as np
np.mean([22,56,7,86,8,9,79])

38.142857142857146

In [49]:
import numpy as np
np.mean([23,34,656,76,87,55,3,4])

117.25

# Lists

In [50]:
# Lets assign some string values to some variables.

In [51]:
city_0 = "Karachi"
city_1 = "Hyderabad"
city_2 = "Larkana"
city_3 = "Islamabad"
city_4 = "Lahore"
city_5 = "Kashmir"
city_6 = "Faisalabad"

In [52]:
# The variable names are all the same, except they end in different numbers.
# Now, having made these assignments, if I code...

In [54]:
print ("Welcome to " +city_2)

Welcome to Larkana

In [58]:
print ("Welcome to " +city_0)
print ("Welcome to " +city_1)
print ("Welcome to " +city_2)
print ("Welcome to " +city_3)
print ("Welcome to " +city_4)
print ("Welcome to " +city_5)
print ("Welcome to " +city_6)

Welcome to Karachi
Welcome to Hyderabad
Welcome to Larkana
Welcome to Islamabad
Welcome to Lahore
Welcome to Kashmir
Welcome to Faisalabad

In [21]:
del tasks[6]

NameError: name 'task' is not defined

In [59]:
# a list is a variable that can have a sequence of values assigned to it. In a list, these values are known as elements.
# Define a list in this way.
# as we know that in python the list is just like an array and it starts from 0.

In [60]:
cities = ["Karachi", "Hyderabad", "Larkana", "Islamabad", "Lahore", "Kashmir", "Faisalabad"]

In [61]:
print ("Welcome to " +cities[1])

Welcome to Hyderabad

In [66]:
print ("Welcome to " +cities[3])
print ("Welcome to " +cities[0])
print ("Welcome to " +cities[2])
print ("Welcome to " +cities[-1])
print ("Welcome to " +cities[-5])
print ("Welcome to " +cities[5])

Welcome to Islamabad
Welcome to Karachi
Welcome to Larkana
Welcome to Faisalabad
Welcome to Larkana
Welcome to Kashmir

In [67]:
# Adding and changing in lists.
# in above code we have six cities if we want to add one more city we code as...

In [68]:
cities.append("Sukkur")

In [69]:
print (cities)

['Karachi', 'Hyderabad', 'Larkana', 'Islamabad', 'Lahore', 'Kashmir', 'Faisalabad', 'Sukkur']

In [70]:
# There's also an alternative way to adding.

In [72]:
cities = cities + ["Multan"]

In [73]:
print(cities)

['Karachi', 'Hyderabad', 'Larkana', 'Islamabad', 'Lahore', 'Kashmir', 'Faisalabad', 'Sukkur', 'Multan']

# Tuples

In [47]:
# Tuple is like a list, but the elements are fixed. They can't be changedunless you redefine the whole tuple.
# We use tuple when  we'll never need to delete one of them. So we create a tuplea list that's written in stone.
# You code a tuple as you would a list, with one exception "[]"

In [48]:
# Do you see the one way a tuple definition is different from a list definition?
# You use parentheses instead of square brackets.
# You pick a particular element out of a tuple the same way you pick an element out of a list. 


states_in_order_of_founding = ("Punjab", "Sindh", "Balochistan", "KPK")

In [49]:
states_in_order_of_founding = ("Punjab", "Sindh", "Balochistan", "KPK")
print("second_state_founded_was = " + states_in_order_of_founding[1])

second_state_founded_was = Sindh

In [50]:
print("third_state_founded_was = " + states_in_order_of_founding[2])

third_state_founded_was = Balochistan

In [51]:
print("fourth_state_founded_was = " + states_in_order_of_founding[3])

fourth_state_founded_was = KPK

In [52]:
print("first_state_founded_was = " + states_in_order_of_founding[0])

first_state_founded_was = Punjab

# Meadian/ Mean/Mode With Histogram

In [53]:
import numpy as np

import matplotlib.pyplot as plt
a=np.random.normal(100,20,10000)

plt.hist(a,50)
plt.show()

In [54]:
np.median(a)

100.2613806597646

In [55]:
np.mean(a)

100.2141910998776

In [56]:
#we add some outlatting or value to check weather the result of mean and median is same or it's different.

In [57]:
a=np.append(a,[30000])

In [58]:
# now we check for median
np.median(a) # here the median value is same as per the average.

100.26298500183917

In [59]:
np.mean(a) # but the mean's value is changed than the first one.

103.20387071280632

In [60]:
# Now we will check for the mode.

In [61]:
b=np.random.randint(1,high = 30, size = 20)

In [62]:
b

array([26,  8, 22, 14,  7, 19, 16, 11,  5, 23, 21, 22,  6, 18, 28,  1, 29,
       25, 20, 18])

In [63]:
from scipy import stats
stats.mode(b)

ModeResult(mode=array([18]), count=array([2]))

In [18]:
#lets see some other ways for finding the mean/ median/ mode.

# Mean

In [20]:
def mean(list_of_nums):
    total = 0
    for num in list_of_nums:
        total = total + num
        return total / len(list_of_nums)

In [21]:
 print(mean([13,23,34,45,56,78,44,33,18,16,14,18]))

1.0833333333333333

In [22]:
print(mean([34,11,45,67,76,98,101,903,34,12]))

3.4

In [23]:
print(mean([22,55,66,77,88,99,203,76,78,98]))

2.2

In [25]:
print(mean([11,34,56,67,78,90,12,45,76,11,76,89]))

0.9166666666666666

# Mode

In [26]:
def mode(list_of_nums):
    max_count = (0,0)
    for num in list_of_nums:
        occurences = list_of_nums.count(num)
        if occurences > max_count[0]:
            max_count = (occurences, num)
            return max_count[1]

In [27]:
print(mode([22,13,34,15,56,76,97,101,201]))

22

In [30]:
print(mode([23,43,4,56,67,12,99,9,101,78,67,120,22]))

23

In [31]:
print(mode([100,200,300,400,500,600,700,800,900,1000]))

100

# Median

In [32]:
def median(list_of_nums):
    list_of_nums.sort()
    if len(list_of_nums) % 2 != 0:
        middle_index = int((len(list_of_nums) -1) /2)
        return list_of_nums[middle_index]
    elif len(list_of_nums) % 2 == 0:
        middle_index_1 = int(len(list_of_nums) / 2)
        middle_index_2 = int(len(list_of_nums) / 2) -1
        return int(mean([list_of_nums[middle_index_1], list_of_nums[middle_index_2]]))

In [33]:
print(median([23,34,45,56,67,87,897,98,90,101]))

43

In [34]:
print(median([101,202,303,404,505,606,707,109,901]))

404

In [35]:
print(median([1,9,56,67,98,88,99,109,87,97,34,908]))

44

In [37]:
print(median([23,45,56,77,98,90,101,505,46,89,79,59,29]))

77

# Variance

In [38]:
# In the same way that the mean is used to describe the central tendency, variance is intended to describe the spread.
# The xi   is called the deviation from the mean, making the variance the squared deviation multiplied by 1 over the number of samples.
# This is why the square root of the variance, , is called the standard deviation.
# Using the mean function we created above, well write up a function that calculates the variance

In [39]:
# We can also use the numpy built in function from Numpy Instead.

In [40]:
def var(t, mu):
    dev2 = [(x - mu)**2 for x in t]
    var = mean(dev2)
    return(var)

In [41]:
print(np.var([1,3,3,6,3,2,7,5,9,1]))

6.4

In [43]:
print(np.var([2,33,4,2,1,2,5,8,7,9,8]))

73.1404958677686

In [44]:
print(np.var([1,6,3,6,3,2,7,2,7,1]))

5.359999999999999

In [48]:
print(np.var([3,4,3,7,3,2,8,5,2,1]))

4.5600000000000005

# Quantiles

In [12]:
# To find the quantile we can use the numpy.quantile function.

In [23]:
# Python Program illustrating  
# numpy.quantile() method  
import numpy as np 
  
  
# 1D array  
arr = [20, 2, 7, 1, 34] 
  
print("arr : ", arr)  
print("Q2 quantile of arr : ", np.quantile(arr, .50))

arr :  [20, 2, 7, 1, 34]
Q2 quantile of arr :  7.0

In [24]:
print("Q1 quantile of arr : ", np.quantile(arr, .25))

Q1 quantile of arr :  2.0

In [25]:
print("Q3 quantile of arr : ", np.quantile(arr, .75))

Q3 quantile of arr :  20.0

# Percentile

In [1]:
# To find the percentile we have the numpy percentile function lets see below.

In [3]:
 # numpy.percentile() method  
    
import numpy as np 
    
# 1D array  
arr = [20, 2, 7, 1, 34] 
print("arr : ", arr)  
print("50th percentile of arr : ",  
       np.percentile(arr, 50))
print("25th percentile of arr : ", 
       np.percentile(arr, 25)) 
print("75th percentile of arr : ", 
       np.percentile(arr, 75))

arr :  [20, 2, 7, 1, 34]
50th percentile of arr :  7.0
25th percentile of arr :  2.0
75th percentile of arr :  20.0

In [4]:
print("10th percentile of arr : ",
      np.percentile(arr,10))

10th percentile of arr :  1.4

In [6]:
print("30th percentile of arr : ",
      np.percentile(arr,30))

30th percentile of arr :  3.0

In [7]:
print("60th percentile of arr : ",
      np.percentile(arr,60))

60th percentile of arr :  12.2

In [8]:
print("70th percentile of arr : ",
      np.percentile(arr,60))

70th percentile of arr :  12.2

In [10]:
print("80th percentile of arr : ",
      np.percentile(arr,80))
print("90th percentile of arr : ",
      np.percentile(arr,90))
print("99th percentile of arr : ",
      np.percentile(arr,99))

80th percentile of arr :  22.800000000000004
90th percentile of arr :  28.4
99th percentile of arr :  33.44

In [1]:
buy_score = 0
buy_score += 10
buy_score += 5
if buy_score == 0:
    print ("Donut Condition is Fresh")
elif buy_score > 0 < 10:
    print ("Donut_price is resonable")
else:
    print("donut filling chocolate")

Donut_price is resonable

In [2]:
print(buy_score)

15

In [4]:
buy_score = 0
if donut_condition == "fresh":
buy_score += 10
if donut_filling == "chocolate":
buy_score += 5
if donut_price == "reasonable":
buy_score += 7

IndentationError: expected an indented block (<ipython-input-4-186c708e7ccc>, line 3)

# If Statements Nested

In [15]:
x = y
c = d
if (x == y or a == b) and c == d:
    g = h
else:
    e = f

NameError: name 'y' is not defined

In [18]:
x = y
c = d
a = b
if x == y:
if c == d:
    g = h
elif a == b:
    g = h
else:
    e = f
    else:
        e = f

IndentationError: expected an indented block (<ipython-input-18-6551125ca979>, line 5)

In [1]:
cities = ["Lahore" , "Faisalabad" , "Karachi" , "Hyderabad" , "Larkana" , "Dadu"]

In [7]:
print("Welcome to " +cities[1])

Welcome to Faisalabad

In [8]:
print("Welcome to " +cities[-4])

Welcome to Karachi

In [10]:
smaller_list_of_cities = cities[2:5]

In [11]:
print(smaller_list_of_cities)

['Karachi', 'Hyderabad', 'Larkana']

In [12]:
smaller_list_of_cities = cities[4:5]

In [13]:
print(smaller_list_of_cities)

['Larkana']

In [15]:
smaller_list_of_cities = cities [1:5]

In [16]:
print(smaller_list_of_cities)

['Faisalabad', 'Karachi', 'Hyderabad', 'Larkana']

In [17]:
smaller_list_of_cities = cities [-2:5]

In [18]:
print(smaller_list_of_cities)

['Larkana']

In [1]:
# Write a program to take user input hours and rate and calculate the rate per hours proding the exact pay

In [2]:
hours = int (input("Enter Hours"))
rate = float (input("Enter Rate"))

pay = hours * rate

print (pay)

Enter Hours34
Enter Rate23.34
793.56

In [4]:
hrs = int (input("Enter hrs: "))
rate = float (input("Enter rate: "))

pay = hrs * rate

print (pay)

Enter hrs: 34
Enter rate: 122.55
4166.7

In [5]:
name = input("Enter Your Name")
print("Welcome", name)

Enter Your NameAli Akbar
Welcome Ali Akbar

In [10]:
1..city_name = input("Enter City Name: ")
print("Welcome to ", city_name)

Enter City Name: Karachi
Welcome to  Karachi

In [12]:
x = 5
if x == 5:
    print("x is equal to five")

x is equal to five

In [18]:
if x >= 100:
    print("Mama miya")
else:
    print("Lawa is a Gandu")

Lawa is a Gandu

In [21]:
x = 123
if x <= 123:
    print("X is perfect")
    
    if x == 123:
        print("X is Exact")
    print("All Done")

X is perfect
X is Exact
All Done

In [25]:
x = 333
if x <=300:
    print("X is black")
elif x <= 390:
    print("X is White")
elif x < 334:
    print ("X is Gorgeous")
elif x < 400:
    print ("X is Beautiful")
else:
    print("Drive Carefully")

X is White

In [26]:
a = ("123")
type(a)

str

In [27]:
a = 23
type(a)

int

In [28]:
a = 3.34
type(a)

float

In [33]:
a = -1
type(a)

int

In [1]:
cars = ["Farrari", "Civic", "Hundayi_City", "Corolla_XLI", "Corolla_GLI"]

In [6]:
print ("Welcome to: " +cars[1])

Welcome to: Civic

In [8]:
del cars[1]

In [9]:
print (cars)

['Farrari', 'Hundayi_City', 'Corolla_XLI', 'Corolla_GLI']

In [10]:
del cars[-2]

In [11]:
print(cars)

['Farrari', 'Hundayi_City', 'Corolla_GLI']

In [14]:
latest_cars_accomplished = cars.pop(1)

In [15]:
print(latest_cars_accomplished)

Hundayi_City

In [5]:
sh = input("Enter Hours: ")
sr = input("Enter Rate: ")

try:

    fh = float(sh)
    fr = float(sr)
    
except:
    print("Error, please enter numeric input")
    quit()
    
print(fh, fr)
if fh > 40:
    reg = fr * fh
    opt = (fh - 40.0) * (fr * 1.5)
    xp = reg + otp
    
else:
    xp = fh * fr
print("Pay:",xp)

Enter Hours: 45
Enter Rate: 10.50
45.0 10.5

NameError: name 'otp' is not defined

In [3]:
try:
    inp = input("please enter a score: ")
    score = float (inp)
    
except:
    
    print("Please enter score number between 0.0 and 1.0")
    
    quit()
    
    
if 0.0 <= score < 0.6:
    print("F")
elif 1.0 >= score >= 0.9:
    print("A")
elif 0.9 > score >= 0.8:
    print("B")
elif 0.8 > score >= 0.7:
    print("C")
elif 0.7 > score >= 0.6:
    print("D")
    
else:
    print("Your score number is not in the 0 - 1 range.")

please enter a score: 0.9
A

In [4]:
def thing():
    print("Hello")
    print("Fun")

In [5]:
thing()

Hello
Fun

In [6]:
print("zip")

zip

In [8]:
thing()

Hello
Fun

In [13]:
def Biodata():
    print("Ali Akbar")
    print("Jamali")
    
Biodata()
print("zip")
Biodata()

Ali Akbar
Jamali
zip
Ali Akbar
Jamali

In [15]:
long = max("Khan of khans is king khan")

In [16]:
print (long)

s

In [17]:
long = min("Khan of khans is king khan")

In [18]:
print(long)

In [25]:
x = 45

In [22]:
float (99) / 100

0.99

In [26]:
type (x)

int

In [27]:
i = 1

In [28]:
type (i)

int

In [29]:
f = float (i)

In [30]:
type(f)

float

In [31]:
print (i)

1

In [32]:
print(f)

1.0

In [33]:
x = 4545

In [34]:
d = float (x)

In [35]:
type (d)

float

In [36]:
print (d)

4545.0

In [37]:
34 + 56 * float (55) / 54 - 8

83.03703703703704

In [38]:
45 - 45 * 345 / 545

16.513761467889907

In [39]:
45 - float(55.567) * (345)

-19125.615

In [40]:
sky = "44545"

In [41]:
type (sky)

str

In [42]:
sky = int(sky)

In [43]:
type (sky)

int

In [45]:
pakory = "465"

In [46]:
pakory = int (pakory)

In [47]:
pakory + 12

477

In [48]:
print(pakory)

465

In [54]:
x = 45


def although():
    print("Qayoom has gone to dpt and he will make girlfriends as mush as he can")
    print("He thinks that he can do that just because of the ratio")
    
    
print("You the Fool")
x + 23
print(x)

You the Fool
45

In [55]:
print("You the Fool")
x + 23
print(x)
although()

You the Fool
45
Qayoom has gone to dpt and he will make girlfriends as mush as he can
He thinks that he can do that just because of the ratio

In [84]:
def create_pass(lang):
    if lang == 'eng':
        print("English")
    elif lang == 'Arb':
        print("Arabic")
    elif lang == 'Jp':
        print("Japanese")
    elif lang == 'ch':
        print("Chinese")
    else:
        print("local")

In [85]:
create_pass('Jp')

Japanese

In [86]:
create_pass('eng')

English

In [87]:
create_pass('ch')

Chinese

In [88]:
def greet():
    return = "Hello"

print("Ali", greet())
print("Haniya", greet())

SyntaxError: invalid syntax (<ipython-input-88-d5faa1288d0f>, line 2)

In [89]:
def greet(lang):
    if lang == 'eng':
        return = "Holla"
    elif lang == 'pk':
        return = "Phakka"
    elif lang == 'sh':
        return = "Sushii"
    else:
        return = "Mungo"

SyntaxError: invalid syntax (<ipython-input-89-451a6556ff2c>, line 3)

In [1]:
def computepay(h,r):
hrs = input("Enter Hours: ")
rate = input("Enter Rate: ")

h = float(hrs)
r = float(rate)

pay = (h * r)

if h <= 40:
return(pay)

else:
ovrhrs = (h - 40)
regular = (r * 40)

others = ovrhrs * (r * 1.5)
ovrpay = (regular + others)

return(ovrpay)
print(computepay(45,10.50))

IndentationError: expected an indented block (<ipython-input-1-a48cbf2ecf4e>, line 2)

In [5]:
try:
    inp = raw_input("Please enter hours: ")
    hours=float(inp)
    inp = raw_input("Please enter rate: ")
    rate= float(inp)
except:
    print "Please enter a number as input"
    quit()

def computepay(h,r):
    if (h>40) : 
        pay = (40*r)+(h-40)*1.5*r
    else :
        pay = (h*r)     
    return pay

print computepay(hours,rate)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print("Please enter a number as input")? (<ipython-input-5-bc704fd5216c>, line 7)

In [9]:
hrs = input("Enter Hours:")
h = float(hrs)
rate = input("Enter Rate:")
r = float(rate)
pay = (h * r)
def computepay(h,r):
if (h < 40):
return(pay)
else :
ovrhrs = (h-40)
regular = (r*40)
othrs = ovrhrs * (r *1.5)
ovrpay = (regular + othrs)
return(ovrpay)
print(computepay(45,10.5))

IndentationError: expected an indented block (<ipython-input-9-d9b5a5b15cc4>, line 7)

In [11]:
def computepay():
if(hrs > 40):
p=(40rate)+(hrs-40)1.5rate
return p
else:
p=ratehrs
return p

hrs = float(input("Enter Hours:"))
rate=float(input("Enter rate:"))
p = computepay()
print(p)

IndentationError: expected an indented block (<ipython-input-11-50cd8878c953>, line 2)

In [12]:
  def computepay():
if(hrs>40):
p=(40_rate)+(hrs-40)_1.5_rate return p else: p=rate_hrs
return p

hrs = float(input("Enter Hours:"))
rate=float(input("Enter rate:"))
p = computepay()
print(p)

IndentationError: expected an indented block (<ipython-input-12-769184ba0266>, line 2)

In [16]:
def computepay(h,r):
if h40:
Pay = h * r
else:
Pay=40 r+(h-40)1.5 r
return Pay

hrs = input('Enter Hours:')
h=float(hrs)
rate = input('Enter Rate:')
r=float(rate)

pay=computepay(h,r)
print(pay)

IndentationError: expected an indented block (<ipython-input-16-74cb9ec3da59>, line 2)

In [18]:
def computepay(hours,rate):
if hours > 40.0:
pay = rate * 40.0
pay = pay + (1.5rate(hours-40))
else:
pay = rate*hours
return pay
hours = float(raw_input("Enter worked hours: "))
rate = float(raw_input("Enter Pay rate per hour: "))
print (computepay(hours,rate))

IndentationError: expected an indented block (<ipython-input-18-0a76f52d1b42>, line 2)

In [2]:
xs = {'a': 4, 'b': 3, 'c': 2, 'd': 1}

sorted(xs.items(), key=lambda x: x[1])
[('d', 1), ('c', 2), ('b', 3), ('a', 4)]

import operator
sorted(xs.items(), key=operator.itemgetter(1))
[('d', 1), ('c', 2), ('b', 3), ('a', 4)]

[('d', 1), ('c', 2), ('b', 3), ('a', 4)]

In [11]:
sh = input("Enter Hours: ")
sr = input("Enter Rate: ")

try:
    
    fh = float(sh)
    fr = float(sr)
    
except:
    
    print("Error, please enter the numeric input")
    quit()
    
#print(fh, fr)
def computepay():    
#if fh > 40:
        reg = fh * fr
        opt = (fh - 40.0) * (fr * 0.5)
        
        computepay = reg + opt
        
#else:
        
        computepay = fr * fh
        
print("pay:",computepay)

Enter Hours: 45
Enter Rate: 10.50
pay: <function computepay at 0x0000001A98FADF28>

In [15]:
def computepay(h,r):
    Pay = h * r
    pay = (fh - 40.0) * (fr * 0.5)
if h<=40:
#Pay= h * r
else:
#Pay=40r+(h-40)1.5r
#pay = (fh - 40.0) * (fr * 0.5)
return = Pay

hrs = input('Enter Hours:')
h=float(hrs)
rate = input('Enter Rate:')
r=float(rate)

pay=computepay(h,r)
print(pay)

IndentationError: expected an indented block (<ipython-input-15-93cadfe5a63a>, line 6)

In [16]:
def computepay(hours,rate):
if hours>40.0:
p = rate * 40.0
p = p+(1.5rate(hours-40))
else:
p = rate*hours
return p
hours = float(raw_input("Enter worked hours: "))
rate = float(raw_input("Enter Pay rate per hour: "))
print (computepay(hours,rate))

IndentationError: expected an indented block (<ipython-input-16-a3fb607ddbc9>, line 2)

In [17]:
def computepay(h,r):
if h > 40:
p = 1.5 * r * (h - 40) + (40 *r)
else:
p = h * r
return p

hrs = input("Enter Hours:")
hr = float(hrs)
rphrs = input("Enter rate per hour:")
rphr = float(rphrs)

p = computepay(hr,rphr)
print(p)

IndentationError: expected an indented block (<ipython-input-17-e5b8260c9775>, line 2)

In [18]:
def computepay():
if h >=40:
pay = (40r)+ ((h-40)(r1.5))
else:
pay= rh
return pay

hrs = input("Enter Hours:")
try:
h=float (hrs)
except:
print ("put a number please")
quit()
rate = input ("Enter Rate")
try:
r= float(rate)
except:
print ("put a number please")
quit()

print(computepay())

IndentationError: expected an indented block (<ipython-input-18-c3de49b75967>, line 2)

In [19]:
def computepay(hrs,rate):
if hrs > 40:
over_time = (hrs - 40) * (rate * 1.5)
pay= (40 * rate) + over_time
elif hrs <= 40:
pay = hrs * rate
return pay

hour = input("Enter Hours:")
hrs = float(hour)
ratePerhour = input("Enter Rate Per Hour:")
rate = float(ratePerhour)
p=computepay(hrs,rate)
print(p)

IndentationError: expected an indented block (<ipython-input-19-debe022f29ed>, line 2)

In [20]:
def computepay(hrs,rate):
fhrs=float(hrs)
frate=float(rate)
if fhrs > 40:
over_time = (fhrs - 40) * (frate * 1.5)
pay= (40 * frate) + over_time
elif fhrs <= 40:
pay = fhrs * frate
return pay

p=computepay(input("Enter Hours:"),input("Enter Rate/Hour:"))
print(p)

IndentationError: expected an indented block (<ipython-input-20-69f464d268e1>, line 2)

In [1]:
Dadu = {'Johi': 1, 'Sehwan': 2, 'Moro': 3, 'Sita': 4, 'Piyaro': 5, 'Kakar': 6}

for k in Dadu:
    print(k)

Johi
Sehwan
Moro
Sita
Piyaro
Kakar

In [2]:
for Tehsils in Dadu:
    print(Tehsils)

Johi
Sehwan
Moro
Sita
Piyaro
Kakar

In [5]:
Sindh = {'Karachi': 1, 'Hyderabad': 2, 'Sukkur': 3, 'Nawabshah': 4, 'Thata': 5}

for cities in Sindh:
    print(cities)

Karachi
Hyderabad
Sukkur
Nawabshah
Thata

In [7]:
for cities in Sindh:
    print(Sindh[cities])

1
2
3
4
5

In [9]:
for cities in Sindh.values:
    print(cities)

TypeError: 'builtin_function_or_method' object is not iterable

In [1]:
i, j = (1, 2)
print(i, j)

1 2

In [2]:
for i, j in [(1, 2), (3, 4), (5, 6)]:
    print(i, j)

1 2
3 4
5 6

In [6]:
for i in ['doo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done ')

doo
bar
baz
qux
Done

In [8]:
for Dadu in ['Johi', 'Sehwan', 'Moro', 'Kakar']:
    if Dadu == 'Kakar':
        break
        print(Dadu)
    else:
        print('Done ')

Done
Done
Done

In [ ]:
nums = [1, 2, 3, 4, 5, 6]

for nums in nums:
    for letters in 'abc':
        print('nums', letters)

In [ ]:
n = 34
while n <= 34:
    print(n)
    n = n -1
print("The End!")
print(n)

In [ ]:
n = 34
while n <= 34:
    print(n)
    n = n -1
print("The End!")
print(n)

In [ ]:
print(n)

In [ ]:
n = 5
while n > 0:
    print(n)
    n = n + 1
print('Blastoff!')
print(n)

In [2]:
friends = ['Ghaffar', 'Qayoom', 'Khalid', 'Noman', 'Maddan']
for friend in friends:
    print("Happy New Year", friend)
print("Done!")

Happy New Year Ghaffar
Happy New Year Qayoom
Happy New Year Khalid
Happy New Year Noman
Happy New Year Maddan
Done!

In [5]:
counts = [1, 2, 3, 4, 5, 6]
for i in counts:
    i = i + 1
    print(i)
print("Blastoff!")

2
3
4
5
6
7
Blastoff!

In [6]:
print("Before")
for thing in [34, 45, 56, 345, 234, 5456]:
    print(thing)
print("After")

Before
34
45
56
345
234
5456
After

In [8]:
largest_so_far = -1
print('Before', largest_so_far)
for the_num in [9, 41, 12, 3, 74, 15]:
    if the_num > largest_so_far :
        largest_so_far = the_num
    print(largest_so_far, the_num)
    
print('After', largest_so_far)

Before -1
9 9
41 41
41 12
41 3
74 74
74 15
After 74

In [9]:
zork = 0
print('Before', zork)
for thing in [9, 41, 12, 3, 74, 15]:
    zork = zork + 1
    print(zork, thing)
print('After', zork)

Before 0
1 9
2 41
3 12
4 3
5 74
6 15
After 6

In [10]:
mingle = -1
print("Before", mingle)
for thing in [12, 34, 45, 56, 67, 78, 2, 34]:
    mingle = mingle - 1
    print(mingle, thing)
print('After', mingle)

Before -1
-2 12
-3 34
-4 45
-5 56
-6 67
-7 78
-8 2
-9 34
After -9

In [11]:
count = 0
print("Before", count)
for thing in [12, 34, 45, 56, 67, 45, 5, 6, 7, 8, 9]:
    count = count + thing
    print(count, thing)
print('After', count)

Before 0
12 12
46 34
91 45
147 56
214 67
259 45
264 5
270 6
277 7
285 8
294 9
After 294

In [1]:
count = 0
sum = 0
print("Before", count, sum)
for value in [9, 41, 12, 3, 74, 15]:
    count = count + 1
    sum = sum + value
    print(count, sum, value)
print("After", count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [4]:
print("Before")
for value in [12, 3, 45, 56, 3, 4, 5, 67]:
    if value > 50:
        print ('The Large, value')
    print("After")

Before
After
After
After
The Large, value
After
After
After
After
The Large, value
After

In [7]:
found = false
print("Before", found)
for value in [19, 41, 12, 3, 74, 15]:
    if value == 3:
        print("True")
        print('found, value')
    print('After', found)

NameError: name 'false' is not defined

In [10]:
smallest_so_far = -1
print("Before", smallest_so_far)
for the_num in [9, 41, 12, 3, 74, 15]:
    if the_num < smallest_so_far:
        smallest_so_far = the_num
        print(smallest_so_far, the_num)
        
    print("After", smallest_so_far)

Before -1
After -1
After -1
After -1
After -1
After -1
After -1

In [11]:
smallest = None
print("Before")
for value in [9, 41, 12, 3, 74, 15]:
    if smallest is None:
        smallest = value
    elif value < smallest:
        smallest = value
    print(smallest, value)
print("After", smallest)

Before
9 9
9 41
9 12
3 3
3 74
3 15
After 3

In [12]:
n = 0
while n > 0:
    print("Lather")
    print("Rinse")
print("Dary off!")

Dary off!

In [15]:
num = 0
tot = 0.0
while True:
    sval = input("Enter a number: ")
    if sval == 'done' :
        break
    fval = float(sval)
    print(fval)
    num = num + 1
    tot = tot + fval
print('All Done')
print(tot,num,tot/num)

Enter a number: 34
34.0
Enter a number: 3
3.0
Enter a number: 4
4.0
Enter a number: 5
5.0
Enter a number: 5
5.0
Enter a number: 656
656.0
Enter a number: 675
675.0
Enter a number: 34
34.0
Enter a number: done
All Done
1416.0 8 177.0

In [ ]:
num = 0
tot = 0.0
while True:
    sval = input("Enter a number: ")
    if sval == 'done':
        break
    try:
        fval = float(sval)
    except:
        print('Invalid input')
        continue
    num = num + 1
    tot = tot + fval
    
print(tot,num,tot/num)

Enter a number: 34
Enter a number: 344
Enter a number: dkfj
Invalid input
Enter a number: sfs
Invalid input
Enter a number: ert
Invalid input
Enter a number: g